<h2>创建扩展</h2>
<msgqueue />

<form method="post">
	<div class="coresystem-form-input">
		扩展名称： <widget id="extName" attr.size="30" /> (必须为英数字符、“-”、“_”)
	</div>
	<div class="coresystem-form-input">
		版　　本： <widget id="extVersion" attr.size="8" />
	</div>
	<div class="coresystem-form-input">
		扩展标题： <widget id="extTitle" attr.size="30" />
	</div>
	<div class="coresystem-form-input">
		PHP 命名空间： <widget id="extClassNamespace" attr.size="30" />
	</div>
	<div class="coresystem-form-checkbox">
		<widget id="extInstallAtOnce" />
	</div>

	<div class="coresystem-form-button"><input type="submit" value="创 建" /></div>
</form>
