<h1>生成扩展的数据安装类：{=$extName}</h1>
<msgqueue />

{=highlight_string($setupCode,true)}

<hr />
详细：
<table border='1'>
	<foreach for='$arrTableInfoList' item='tableinfo'>
		<tr>
			<td>{=$tableinfo['Table']}</td>
			<td><pre>{=$tableinfo['Create Table']}</pre></td>
			<td>
				<if '!empty($tableinfo["keys"])'>
					<table>
						<tr>
							<foreach for='$tableinfo["keys"]' item='key'>
								<th>{=$key}</th>
							</foreach>
						</tr>
						<foreach for='$tableinfo["data"]' item='row'>
							<tr>
								<foreach for='$row' item='d'>
									<td>{=$d}</td>
								</foreach>
							</tr>
						</foreach>
					</table>
				<else '!empty($tableinfo["data"])' />
					此表内数据为空
				<else />
					选择不包含此表的数据
				</if>
			</td>
		</tr>
	</foreach>
</table>
<if '!empty($setting)'>
	配置：{=$setting}
</if>
<if '!empty($dataFolder)'>
	文件：{=$dataFolder}
</if>
