<script type="text/javascript">
function submit_package(pname){
    var package_name = document.getElementById('package_name');
    package_name.value = pname;
    var form = document.getElementById('form');
    form.submit();
}
</script>
<form id='form'>
<input type='hidden' name='c' value='org.opencomb.development.toolkit.extension.ExtensionPackages' />
<input type='hidden' name='act' value='package' />
<input id="package_name" type='hidden' name='name' value='' />
<input type='checkbox' name='includeGit' >将.git目录/.svn目录/.cvs目录加入包中</input>
<table border='6'>
    <tr>
        <th>
            名称
        </th>
        <th>
            标题
        </th>
        <th>
            版本
        </th>
        <th>
            安装位置
        </th>
        <th>
            打包
        </th>
        <th>
            下载
        </th>
    </tr>
    <foreach for='{=$packageList}' item='package'>
        <tr>
            <td>
                {=$package['name']}
            </td>
            <td>
                {=$package['title']}
            </td>
            <td>
                {=$package['version']}
            </td>
            <td>
                {=$package['installPath']}
            </td>
            <td>
                <a href='#' onclick="submit_package('{=$package["name"]}')">
                    <if "$package['hasPackaged']">
                        重新打包
                    <else />
                        打包
                    </if>
                </a>
            </td>
            <td>
                <if "$package['hasPackaged']">
                    <a href="{=$package['link']['download']}"><button>下载</button></a>
                <else />
                    尚未打包
                </if>
            </td>
        </tr>
    </foreach>
</table>
</form>
<msgqueue />
