<lib name='jquery.ztree' />
<script>
jquery(function(){
	//树数据
	classList = {=$classJson};
	//初始化树
	jquery.fn.zTree.init(jquery("#classTree"), {
		view: {
			expandSpeed: 0
		},
		check:{
			enable:true,
			chkboxType:{ "Y": "", "N": "" }
		},
	}, classList);
	
	var aRunningZTree = jquery.fn.zTree.getZTreeObj("classTree");
	
	//搜索树
	jquery('#keyWord').on('keyup',function(){
		var sKeyWord = jquery.trim(jquery(this).val());
		if(sKeyWord.length < 2){
			aRunningZTree.expandAll(false);
			aRunningZTree.cancelSelectedNode();
			return;
		}
		
		aRunningZTree.cancelSelectedNode();
		
		var arrSelectNode = aRunningZTree.getNodesByParamFuzzy('name', sKeyWord);
		aRunningZTree.expandAll(false);
		for(var i = 0 ; i< arrSelectNode.length; i++){
			aRunningZTree.selectNode(arrSelectNode[i],true);
			aRunningZTree.expandNode(arrSelectNode[i],true,false,true);
		}
		//隐藏无关树
		var nodeLis = jquery('#classTree li');
		nodeLis.each(function (){
			jquery(this).hide(0);
			if(jquery(this).has('a.curSelectedNode').length){
				jquery(this).show(0);
			}
		});
		//焦点回归
		jquery(this).focus();
	});
	
	//点击清理按钮
	jquery('#cleanSpecialCache').click(function(){
		var arrCheckedNodes = aRunningZTree.getCheckedNodes(true);
		var arrDeletePaths = [];
		//整理需要清理的路径
		for(var i = 0; i < arrCheckedNodes.length ; i++){
			arrDeletePaths.push(getPath(arrCheckedNodes[i]));
		}
		var aDelete = {deletePaths: arrDeletePaths};
		//发送到后台进行清理
		jquery.ajax({
			url: "?c=org.opencomb.development.toolkit.platform.RemoveCache",
			type: 'post',
			data:aDelete,
			dataType: 'text',
			beforeSend : function(){
				jquery("#cleanMessage").html("处理中...");
			},
			success: function(msg){
				jquery("#cleanMessage").html(msg);
			}
		});
	});
	function getPath(aNode){
		var aParentNode = aNode.getParentNode();
		if( aParentNode != null){
			if(aNode.filename){
				return getPath(aParentNode)+'/'+aNode.filename;
			}else{
				return getPath(aParentNode)+'/'+aNode.name;
			}
		}else{
			return aNode.name;
		}
	}
});
</script>
<h2>删除缓存</h2>
<msgqueue />

<label>搜索: <input type="text" id="keyWord" /></label>
<div id='classTree' class='ztree'></div>
<input id="cleanSpecialCache" type="submit" class='coresystem-form-button' value='清 理'/>
<div id="cleanMessage">
</div>