<lib name='jquery' />
<style>
.select_table{
	width:40%;
}
.warning{
	color:red;
}
#file_list{
	display:none;
}
</style>
<div>扩展名：{=$extName}</div>
<form id='form' onsubmit="on_submit()">
	<input type='hidden' name='c' value='org.opencomb.development.toolkit.extension.createsetup.CreateSetup' />
	<input type='hidden' name='extName' value='{=$extName}' />

	<h2>数据表</h2>
	<table class="select_table">
		<tr>
			<th>数据表名称</th>
			<th>是否包含数据表结构</th>
			<th>是否包含数据</th>
		</tr>
		<tr>
			<td></td>
			<td>
				<input type='button' value='全选' onclick='setStructCheck("a")' />
				<input type='button' value='全取消' onclick='setStructCheck("n")' />
				<input type='button' value='反选' onclick='setStructCheck("o")' />
			</td>
		</tr>
		<foreach for='$tableList' item='tableName' >
			<tr>
				<td>{=$tableName}</td>
				<td><input class='struct' type='checkbox' name="struct[]" value='{=$tableName}' /></td>
				<td><input class='data' type='checkbox' name='data[]' value='{=$tableName}' /></td>
			</tr>
		<foreach:else />
			<div>此扩展不包含数据表</div>
		</foreach>
	</table>
		
	<div>
		<h2>配置</h2>
		<label>
			<input type='checkbox' name='conf' />
			使用配置(Setting)
		</label>
	</div>
	<div>
		<h2>文件</h2>
		<label>
			<input type='checkbox' name='file' onchange='on_check(this,"注意：将会覆盖已包含的数据文件","")' />
			使用文件
		</label>
		
		<div id="warning_file" class="warning"></div>
		<ul class="warning" id='file_list'>
			<foreach for='$aDataFileFolder->iterator()' item='file'>
				<li>{=$file}</li>
			</foreach>
		</ul>
	</div>
	
	<div>
		<h2>其它</h2>
		<label>
			<input type='checkbox' name='updatemetainfo' />
			更新metainfo.xml
		</label>
	</div>
	
	<br /><br />
	<div>
		<div class="warning">注意：将会覆盖已有的安装程序</div>
	</div>
	
	
	
	<input type="submit" value="生成数据安装类" />
</form>
<script type="text/javascript">
function on_check(o,y,n){
	var warning_file = document.getElementById('warning_file');
	var file_list = document.getElementById('file_list');
	if(o.checked){
		warning_file.innerHTML=y;
		file_list.style.display = 'block';
	}else{
		warning_file.innerHTML=n;
		file_list.style.display = 'none';
	}
}
function on_submit(){
	var c = confirm('将会覆盖已有的安装程序，是否继续');
	console.log(c);
}
function bindClickForStruct(){
	jQuery('.struct').change(
		function(){
			var tr = jQuery(this).closest('tr');
			var data = tr.find('.data');
			if(this.checked){
				data.css('display','inline');
			}else{
				data.attr('checked',false);
				data.css('display','none');
			}
		}
	);
}
function setDisplayForData(){
	jQuery('.data').css('display',
		function(index,value){
			var tr = jQuery(this).closest('tr');
			var struct = tr.find('.struct');
			if(struct.attr('checked')){
				return 'inline';
			}else{
				return 'none';
			}
		}
	);
}
// t: a , n , o
// all , none , opposite
function setStructCheck(t){
	jQuery('.struct').attr('checked',
		function(i,v){
			switch(t){
			case 'a':
				return true;
				break;
			case 'n':
				return false;
				break;
			case 'o':
				return !v;
				break;
			}
		}
	);
	jQuery('.struct').change();
}
jQuery(bindClickForStruct);
jQuery(setDisplayForData);
</script>
