<lib name='jquery.treeview' />
 
<style type="text/css">
#browser {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 68.75%;
}
</style>

<ul id="browser" class="filetree"></ul>
<button id="add">Add!</button>
 
<script>
(function($) {
	jQuery("#browser").treeview();
	jQuery("#add").click(function() {
		var branches = jQuery("<li><span class='folder'>New Sublist</span><ul>" + 
			"<li><span class='file'>Item1</span></li>" + 
			"<li><span class='file'>Item2</span></li>" +
			"</ul></li>").appendTo("#browser");
		jQuery("#browser").treeview({
			add: branches
		});
	});
})(jQuery) ;
</script>

<script type="text/javascript">
var structBrowser = {
	_mvcstruct:null 		
} ;

structBrowser.log = function(text)
{
	if( typeof(console)!='undefined' )
	{
		console.log(text) ;
	}
}
structBrowser.setMvcStruct = function(struct)
{
	structBrowser._mvcstruct = struct ;
	
	var branchesSource = '<li>'+structBrowser._loadController(structBrowser._mvcstruct)+'</li>' ;
	
	jQuery("#browser").html('') ;
	var branches = jQuery(branchesSource).appendTo("#browser");
	jQuery("#browser").treeview({
		add: branches
	});
	
}
structBrowser._loadModel = function(aModel)
{
	var source = "<li>" + "<span class='folder'>[M] "+aModel.name+"</span>" ;
	source+= structBrowser._loadModelList(aModel.models) ;
	source+= '</li>' ;
	
	return source ;
}
structBrowser._loadModelList = function(arrModels)
{
	if(arrModels.length)
	{
		var source = '<ul>' ;
		for(var i=0;i<arrModels.length;i++)
		{
			source+= structBrowser._loadModel(arrModels[i]) ;
		}
		source+= '</ul>' ;
		
		return source ;
	}
	else
	{
		return '' ;
	}
}
structBrowser._loadView = function(aView)
{
	var source = "<li>" + "<span class='folder'>[V] "+aView.name+"</span>" ;
	source+= structBrowser._loadViewList(aView.views) ;
	source+= '</li>' ;
	
	return source ;
}
structBrowser._loadViewList = function(arrViews)
{
	if(arrViews.length)
	{
		var source = '<ul>' ;
		for(var i=0;i<arrViews.length;i++)
		{
			source+= structBrowser._loadView(arrViews[i]) ;
		}
		source+= '</ul>' ;
		
		return source ;
	}
	else
	{
		return '' ;
	}
}
structBrowser._loadController = function(aController)
{
	var source = '<li><span class="folder">[C] '+aController.name+'</span>' ;
	source+= structBrowser._loadModelList(aController.models) ;
	source+= structBrowser._loadViewList(aController.views) ;		
	source+= '</li>' ;
	
	return source ;
}
structBrowser.setCurrentUrl = function(sUrl)
{
	jQuery('#current_url').val(sUrl) ;
}
structBrowser.location = function(sUrl)
{
	if(typeof(sUrl)=='undefined')
	{
		sUrl = jQuery('#current_url').val() ;
	}

	if(sUrl.search('\\?')<0)
	{
		sUrl+= '?' ;
	}
	if(sUrl.search('toolkit_mvcbrowser')<0)
	{
		sUrl+= '&toolkit_mvcbrowser=1' ;
	}
	structBrowser.log(sUrl) ;
	jQuery('#iframe-browser').get(0).contentWindow.location = sUrl ;
}
</script>

<input type="text" id="current_url" value="" style="width:400px" /> 
<input type="button" value="打开网页" onclick="structBrowser.location()" />

<iframe id="iframe-browser" src="{/*.url.path}?toolkit_mvcbrowser=1" width="100%" height="600px" />
