<style>
.error{
	display:inline;
	color:red;
}
</style>
<script type='text/javascript' >
// t: a , n , o
// all , none , opposite
function setSelect(t){
	var arrCheck = document.getElementsByName('ext[]');
	for(var i=0;i<arrCheck.length;++i){
		var aCheck = arrCheck[i];
		switch(t){
		case 'a':
			aCheck.checked = true;
			break;
		case 'n':
			aCheck.checked = false;
			break;
		case 'o':
			aCheck.checked = !aCheck.checked;
			break;
		}
	}
}
</script>
<h1>选择扩展</h1>
<button onclick='setSelect("a")' >全选</button>
<button onclick='setSelect("n")' >清空</button>
<button onclick='setSelect("o")' >反选</button>
<form method='get' >
	<input type='hidden' name='c' value='org.opencomb.development.toolkit.platform.createpackage.ShowVersion' />
	
	<table>
		<tr>
			<th>
				项目名称
			</th>
			<th>
				
			</th>
			<th>
				是否选择此项目
			</th>
			<th>
				是否携带版本仓库
			</th>
		</tr>
		<tr>
			<td>framework</td>
			<td></td>
			<td>必须选择此项目</td>
			<td>
				<input type='radio' name='git[framework]' value='0' checked='checked' />否
				<input type='radio' name='git[framework]' value='1' />是
			</td>
		</tr>
		<tr>
			<td>platform</td>
			<td></td>
			<td>必须选择此项目</td>
			<td>
				<input type='radio' name='git[platform]' value='0' checked='checked' />否
				<input type='radio' name='git[platform]' value='1' />是
			</td>
		</tr>
		<tr>
			<td>public</td>
			<td></td>
			<td>必须选择此项目</td>
			<td>
				此项目无版本仓库
			</td>
		</tr>
		<tr>
			<th>
				扩展名称
			</th>
			<th>
				版本
			</th>
			<th>
				是否选择此扩展
				<div class='error'>若扩展尚未打包，则无法选择，请进入<a href='/?c=org.opencomb.development.toolkit.extension.ExtensionPackages'>扩展打包</a>页面进行打包</div>
			</th>
			<th>
				是否携带版本仓库
			</th>
		</tr>
		<foreach for='$arrExtension' item='ext'>
			<tr>
				<td>
					{=$ext->name()}
				</td>
				<td>
					{=$ext->version()}
				</td>
				<td>
					<if '$arrPackageState[$ext->name()][0] or $arrPackageState[$ext->name()][1]'>
						<input type='checkbox' name='ext[]' value='{=$ext->name()}' />
					</if>
				</td>
				<td>
					<if '$arrPackageState[$ext->name()][0]'>
						<input type='radio' name='git[{=$ext->name()}]' value='0' checked='checked' />否
					</if>
					<if '$arrPackageState[$ext->name()][1]'>
						<input type='radio' name='git[{=$ext->name()}]' value='1' />是
					</if>
				</td>
			</tr>
		</foreach>
	</table>
	<br />
	<input type='submit' value='确定' />
</form>
