<style>
.error{
	display:block;
	color:red;
}
</style>
<script type='text/javascript' >
// t: a , n , o
// all , none , opposite
function setSelect(t){
	var arrCheck = document.getElementsByName('ext[]');
	for(var i=0;i<arrCheck.length;++i){
		var aCheck = arrCheck[i];
		switch(t){
		case 'a':
			aCheck.checked = true;
			break;
		case 'n':
			aCheck.checked = false;
			break;
		case 'o':
			aCheck.checked = !aCheck.checked;
			break;
		}
	}
}
</script>
<h1>选择扩展</h1>
<button onclick='setSelect("a")' >全选</button>
<button onclick='setSelect("n")' >清空</button>
<button onclick='setSelect("o")' >反选</button>
<form method='get' >
	<input type='hidden' name='c' value='org.opencomb.development.toolkit.platform.createpackage.ShowVersion' />
	<ul class='selectItem'>
		<foreach for='$arrExtension' item='ext'>
			<li>
				<input type='checkbox' name='ext[]' value='{=$ext->name()}' />{=$ext->name()}。版本：{=$ext->version()}
				<if '$arrPackageState[$ext->name()] === false'>
					
				</if>
			</li>
		</foreach>
	</ul>
	<div class='error'>若扩展尚未打包，则无法选择，请进入<a href='/?c=org.opencomb.development.toolkit.extension.ExtensionPackages'>扩展打包</a>页面进行打包</div>
	<table>
		<tr>
			<th>
				扩展名称
			</th>
			<th>
				版本
			</th>
			<th>
				是否选择此扩展
			</th>
			<th>
				是否携带版本仓库
			</th>
		</tr>
		<foreach for='$arrExtension' item='ext'>
			<tr>
				<td>
					{=$ext->name()}
				</td>
				<td>
					{=$ext->version()}
				</td>
				<td>
					<if '$arrPackageState[$ext->name()][0] or $arrPackageState[$ext->name()][1]'>
						<input type='checkbox' name='ext[]' value='{=$ext->name()}' />
					</if>
				</td>
				<td>
					{=;var_export($arrPackageState[$ext->name()][0],true)}
					<if '$arrPackageState[$ext->name()][0]'>
						<input type='radio' name='git[{=$ext->name()}]' value='0' checked='checked' />否
					</if>
					{=;var_export($arrPackageState[$ext->name()][1],true)}
					<if '$arrPackageState[$ext->name()][1]'>
						<input type='radio' name='git[{=$ext->name()}]' value='1' />是
					</if>
				</td>
			</tr>
		</foreach>
	</table>
	<br />
	<input type='checkbox' name='git[framework]' value='1' />是否携带framework的版本仓库<br />
	<input type='checkbox' name='git[platform]' value='1' />是否携带platform的版本仓库<br />
	<input type='submit' value='确定' />
</form>
