<h1>制作发行版本</h1>


<hr />

<form method='post' action="?c=org.opencomb.development.toolkit.platform.createpackage.CreatePackage" >

	<h2>发型版本信息</h2>
	<div>
		产品标题：<input type="text" name="distributionTitle" value="蜂巢平台" />
	</div>
	<div>
		产品名称：<input type="text" name="distributionName" value="oc-platform" /> 建议：避免使用中文
	</div>
	<div>
		版　　本：<input type="text" name="distributionVersion" value="1.0.0.0"  />
	</div>

	<h2>基础系统</h2>
	<li style="width:600px">
		JeCat框架(framework)
		version: {= \org\jecat\framework\VERSION }
		<label style="float:right">
			<input type=checkbox name="framework-debug" value='1' />
			使用开发版本（携带.git/.svn/.cvs 等版本库）
		</label>
	</li>
	
	<li style="width:600px">
		蜂巢平台(OpenComb Platform)
		version: {= \org\opencomb\platform\Platform::singleton()->version() }
		<label style="float:right">
			<input type=checkbox name="platform-debug" value='1' />
			使用开发版本（携带.git/.svn/.cvs 等版本库）
		</label>
	</li>
	
	<h2>选择扩展</h2>
	
	<foreach for='$arrExtension' item='ext'>
	<li style="width:600px">
		<span>
			{=$ext->title()} ({=$ext->name()}:{=$ext->version()})
		</span>
		
		<span style="float:right">
			
			<if '$arrPackageState[$ext->name()][0] or $arrPackageState[$ext->name()][1]' >
			
				<if '$arrPackageState[$ext->name()][0]' >
					<label>
						<input type='checkbox' id="chk-{=$ext->name()}-release" name='ext[{=$ext->name()}]' value='{=$arrPackageState[$ext->name()][0]}' onclick="jquery('#chk-{=$ext->name()}-debug').attr('checked',!this.checked)" />
						正式版本
					</label>
				</if>
				
				<if '$arrPackageState[$ext->name()][1]' >
					<label>
						<input type='checkbox' id="chk-{=$ext->name()}-debug" name='ext[{=$ext->name()}]' value='{=$arrPackageState[$ext->name()][1]}' onclick="jquery('#chk-{=$ext->name()}-release').attr('checked',!this.checked)" />
						开发版本
					</label>
				</if>
			
			<else />
			
				<a href="?c=org.opencomb.development.toolkit.extension.ExtensionPackages">扩展尚未打包</a>
			
			</if>
			
			
		</span>
	</li>
	</foreach>

	<div style='color:red'>若扩展尚未打包，则无法选择，请进入<a href='?c=org.opencomb.development.toolkit.extension.ExtensionPackages'>扩展打包</a>页面进行打包</div>

	<label style="display:block">
		<input type='checkbox' name='sae-package' value='1' />
		新浪云计算平台(SAE)应用包		
	</label>
	
	<label style="display:block">
		<input type='checkbox' name='single-file-installer' value='1' />
		单文件安装程序	
	</label>
		
	
	<input type='submit' value='生成安装程序' class="coresystem-form-button" />
	
</form>
