<lib name="jquery" />
<h1>制作扩展安装包</h1>

<msgqueue />

<table border='6' class="article-table">
    <tr>
        <th>
            扩展
        </th>
        <th>
            操作
        </th>
        <th>
            安装包
        </th>
    </tr>
    <foreach for='{=$packageList}' item='package'>
        <tr>
            <td>
                <b>{=$package['title']}</b>
				({=$package['name']}:{=$package['version']})
                <div style="color:#bbb">{=$package['installPath']}</div>
            </td>
            <td>
            	<a href="?c=org.opencomb.development.toolkit.extension.createsetup.SelectItem&extName={=$package['name']}">生成数据安装脚本</a>
            	　|　
            	<label title="安装包中是否包含 .git 或 .svn 等版本库">
            		<input type="checkbox" onchange="switchRepo(this)" />
            		包含版本库
            	</label>
                <a href='{=$package['link']['package']}' class="release">
                	<button>打包</button>
                </a>
                <a href='{=$package['link']['packageVl']}' style="display:none" class="debug">
                	<button>打包</button>
                </a>
            </td>
            <td>
                <if "$package['hasPackaged']">
                    <a href="{=$package['link']['download']}">
                    	下载 [{=$package['link']['pkgbytes']}]
                    </a>
                </if>
                
                <if "$package['hasPackagedVl']">
                    <br />
                    <a href="{=$package['link']['downloadVl']}" title="该版本的安装包中包含了 .git 或 .svn 版本库">
                   		下载（开发版本） [{=$package['link']['pkgbytesVl']}]
                   	</a>
                </if>
            </td>
        </tr>
    </foreach>
</table>

<script>
function switchRepo(wndCheckbox)
{
	jquery(wndCheckbox.parentNode.parentNode).find('.release').toggle() ;
	jquery(wndCheckbox.parentNode.parentNode).find('.debug').toggle() ;
}
</script>
